@model  DogsIRL_API.Models.ResetPasswordInput
@{
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Reset Password</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="~/StyleSheet.css" rel="stylesheet" />
</head>
<body>
    <form asp-action="ResetPassword" method="post">
        
        <h2>Reset Password</h2>
        <div asp-validation-summary="All" class="text-danger"></div>
        <input asp-for="Email" />
        <input asp-for="Token" />
        <label>New password:</label>
        <input asp-for="Password" />
        <span asp-validation-for="Password" class="text-danger"></span>
        <label>Confirm new password:</label>
        <input asp-for="ConfirmPassword" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        <button class="btn btn-primary" type="submit">Reset Password</button>
    </form>
</body>
</html>
