@page
@model DogsIRL_API.Pages.Downloads.IndexModel
@{
}

<!DOCTYPE html>
<html>
<head>
    <title>Downloads</title>
</head>
<body>
    <h1>Downloads</h1>
    <a href="~/assets/com.theboys.dogsirl.dogsirl.apk">Download the latest version for Android</a>
    <p>Release on the Google Play Store coming soon</p>
</body>
</html>